<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tact Randomizer Clone</title>
</head>
<body>
    <form method="POST">
        <b>Tact Randomizer Clone</b>
        <H5>Number of objects</H5>
        <input type="number" name="count" placeholder="object count">
        <h5>Enter the objects</h5>
        <textarea name="objects" placeholder="enter objects"></textarea>
        <br>
        <br>
        <button type="submit">Generate</button>
    </form>
</body>
</html>