<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Challenge</title>
</head>
<body>
    <form action="/submit" method="POST" enctype="multipart/form-data">
        <div class="col-auto">
          <label class="block-label sm-mb0">Name</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="text">
        </div>
        <div class="col-auto">
            <label class="block-label sm-mb0">Topics learnt</label>
            <textarea class="form-control" name="short_summary" rows="10" placeholder="Write here">
            </textarea>
        </div> 
        <div class="col-auto">
          <button onclick="document.location='default.asp'" class="btn btn-primary mb-3">Submit</button>
        </div>
      </form>
</body>
</html>